:root {
    --color-text: rgb(255, 255, 255);
    --color-red-danger: rgb(207, 8, 8);
}

html {
    height: 100%;
}

main {
    height: 100vh;
}

body {
    /*
    background-attachment: fixed;
    background: rgb(72, 95, 219);
    background: radial-gradient(circle, rgba(72, 95, 219, 1) 18%, rgba(4, 33, 205, 1) 100%, rgba(66, 88, 217, 1) 100%);
    */
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    /* 'Times New Roman', Times, serif */

}

.user {
    background-color: rgb(146, 126, 255);
}

.my-trnsp-btn {
    border: none;
    background: transparent;
}